*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:amenfont;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}
body{
    background-image: linear-gradient(to bottom, rgb(245, 162, 131), antiquewhite);
    font-family: amenfont;
}
.menu{
    background-image: linear-gradient(to bottom, rgb(245, 162, 131), antiquewhite);
    height: 70px;
    width: 95vw;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px black;
    padding: 10px;
    margin: 10px;
}
.logo{
    color: aliceblue;
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
    font-family: amenfont;
    justify-content: center;
}

.menu-items li{
    border-radius: 3px;
    margin: auto;
    width: auto;
       
    
}
.menu-items li a{
    padding: 7px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: black;
        
}
.menu-items li:hover, li.active{
    background-color: rgb(245, 162, 131);
    transition: .4s;
}

.btn-menu{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;

}

@media(max-width: 768px){
    .grid-container{
        grid-template-columns: repeat(2);
    }

}

.carouselexamplecaptions{
    width: 90%;
    height:min-content;
    align-items: center;
    margin: 10px;
    padding: 30px;
}
.carousel-item h5{
    background-color: rgba(245, 161, 131, 0.562);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    gap: 15px ;
    padding: 10px;
    margin: 100px;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border-radius: 2px;

    transition: transform 0.5s ease-in-out;
    border: solid 1px white;
}
.grid-item:hover{
    filter: opacity(1);
    transform: scale(1.02);
}
.grid-item img{
    width: 100%;
}

.seccion1{
    background-image: url(./img/Producto5.jpg);
    height: 500px;
    background-attachment:local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin: 50px;
    text-align: center;  
    justify-content: center; 
    
}

.seccion1 h3, p{
    background-color: rgba(245, 161, 131, 0.562);
    padding: 30px;
    justify-content: center;
    text-align: center;
    
}

.seccion1 h3:hover, p:hover{
    transform: scale(1.04);
}
.seccion1 img{
    width: 300px;
    height: 220px;
    
}

.seccion1 img:hover{
    transform: scale(1.2);
}
.pie{
    background-image: linear-gradient(to bottom, antiquewhite, rgb(245, 162, 131));
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 5px 0 10px black;
    padding: 10px;
    margin: 10px;
}
.pie a{
    color: black;
}
.pie i{
    font-family: 'Courier New', Courier, monospace;
}